#u {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px; /*set to a negative number 1/2 of your height*/
    margin-left: -25px; /*set to a negative number 1/2 of your width*/
  }

  h4{
    position:absolute;
    top: 55%;
    left: 42%;
    margin-top: -25px; /*set to a negative number 1/2 of your height*/
    margin-left: -25px; /*set to a negative number 1/2 of your width*/
    font-family: Bodoni MT;
  }

  #body{
    background-color: rgba(250, 128, 114, 0.589);
  }
    