#u {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px; /*set to a negative number 1/2 of your height*/
    margin-left: -25px; /*set to a negative number 1/2 of your width*/
  }

  #grad1 {
    height: 757px;
    background-image: linear-gradient(to right, pink, rgb(250, 128, 114), rgb(255, 165, 0));
    
  }

  h4{
    position:absolute;
    top: 55%;
    left: 35%;
    margin-top: -25px; /*set to a negative number 1/2 of your height*/
    margin-left: -25px; /*set to a negative number 1/2 of your width*/
    font-family: Bodoni MT;
  }